.container {
    width: 60%;
    margin: 0 auto;
    border: 1px solid black;
    height: auto;
  }

  .buttons{
    display:flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
  }

  .space{
    margin-left: 20px;
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 130px;
  }
  
  .button{
    display:flex;
    justify-content: flex-end;
    width: 80%;
    margin: 0 auto;
  }
  
  .centralizado {
    margin: 0 auto;
    border-collapse: collapse; 
    width: 80%;
  }
  
  .table {
    border: 2px solid #333; 
  }
  
  .th {
    color: #333;
    padding: 10px;
    text-align: center;
  }
  
  .td {
    padding: 10px;
    text-align: center
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideDown 0.3s ease forwards;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-50%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .modalDiv{
    padding: 10px;
  }
  .modalInput{
    border-radius: 5px;
    height: 30px;
  }

  .modalTextArea{
    border-radius: 5px;
    height: 90px;
    width: 380px;
  }
  .fecharButton{
    display: contents;
  }
  
  .divFechar{
    display: flex;
    justify-content: flex-end;
  }

  .divEnviar{
    display: flex;
    justify-content: center;
  }

  .enviarBtn {
    background-color: #01C061;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 130px;
}

.icone {
    font-size: 1.5rem;
    margin-left: 5px; 
  }
  
  .btnDefault{
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 130px;
  }
